<div class="sidenav-header">
  <mat-icon class="brand-icon">account_balance</mat-icon>
  <h3>Banking Portal</h3>
</div>

<mat-nav-list class="nav-list">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  
  <a mat-list-item routerLink="/accounts" routerLinkActive="active">
    <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
    <span matListItemTitle>Accounts</span>
  </a>
  
  <a mat-list-item routerLink="/transfers" routerLinkActive="active">
    <mat-icon matListItemIcon>swap_horiz</mat-icon>
    <span matListItemTitle>Transfers</span>
  </a>
  
  <a mat-list-item routerLink="/profile" routerLinkActive="active">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Profile</span>
  </a>
  
  <mat-divider></mat-divider>
  
  <a mat-list-item (click)="logout()" class="logout-item">
    <mat-icon matListItemIcon>exit_to_app</mat-icon>
    <span matListItemTitle>Logout</span>
  </a>
</mat-nav-list>